<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AwesomeVideoCreator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A935D03C1BF9A114008DA3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A935D0501BF9A114008DA3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A935D05B1BF9A114008DA3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
